---
# Index
title: Staff Appraisal
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/snake.css" | relative_url }}">
  </head>
<body>

    <div class="container">
        <section class="section">
            <h1 class="name">
                {% if site.name %}
                    {{ site.name }}
                {% endif %}
            </h1>
            <h3 class="description">
                {% if site.description %}
                    {{ site.description }}
                {% endif %}
            </h3>

            <div class="buttons">

                <a class="btn1" href={{ site.staff-appraisal }}>
                    <span></span> <span></span> <span></span> <span></span>
                    Staff Appraisal
                </a>

            </div>
        </section>
    </div>

</body>
</html>


